<% include ../profile.html%>
<link rel="stylesheet" href="../topics.css">
<section>
  <div class="container py-3">
  </div>
  <div>
    <% if(userTopics.length == 0) { %>
    <h1>This user has no topics.</h1>
    <% } else { %>
    <form action="/user-followed" method="get">
      <!-- <% for(var i=userTopics.length-1; i>=0;i--) { %>
      <div class="checkbx">
        <input type="checkbox" id="huey_<%= i %>" name="action" />
        <label for="huey_<%= i %>"><%= userTopics[i] %></label>
      </div>
      <% } %> -->
      <input type="hidden" name="user_followed" value="<%= userlineID %>"/>
      <% userTopics.forEach(topic => { %>
        <% if(currUserTopicFollows.includes(topic)) { %>
        <div class="checkbx">
          <input type="checkbox" id="huey_<%= topic %>" name="topics" value="<%= topic %>" checked
          />
           <label for="huey_<%= topic %>"><%= topic%></label>
      </div>
      <% } else { %>
        <div class="checkbx">
          <input type="checkbox" id="huey_<%= topic %>" name="topics" value="<%= topic %>"
          />
           <label for="huey_<%= topic %>"><%= topic%></label>
      </div>
        <% } %>
      <% }); %>
      <input type="submit" value="Follow This User"/>
    </form>
    <% } %>
  </div>
</section>
<% if(posts.length>0) { %>
<% for(var i=posts.length-1; i>=0;i--) { %>
<% if(posts[i].user == userlineID) { %>
<section>
  <div class="container py-3">
    <div class="card w-75">
      <div class="card-body mb-2">
        <div class="form-group">
          <h5 class="card-header"><%= posts[i].title %></h5>
          <br>
          <p class="card-text"><%= posts[i].description %></p>
          <p class="card-title">topic: <%= posts[i].topic%></p>
          <a href="#" class="btn btn-primary">Like</a>
          <a href="#" class="btn btn-primary">Dislike</a>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>

<% } %>

<% } else { %>
No Posts to Display!
<% } %>