<% include ../profile.html%>
<section>
  <div class="container py-3">
    <p class="container-text"><%="Hi " %><%=username %><%="! " %></p>
    <p class="container-text"><%="Your email id is: " %><%=email %></p>
    <p class="container-text"><%="Head to the settings page if you would like to change your username, email or password!"%></p>
  </div>
</section>
<% if(posts.length>0) { %>
<% for(var i=posts.length-1; i>=0;i--) { %>
<% if(posts[i].user === userIDejs) { %>
<section>
  <div class="container py-3">
    <div class="card w-75">
      <div class="card-body mb-2">
        <div class="form-group">
          <h5 class="card-header"><%= posts[i].title %></h5>
          <br>
          <p class="card-text"><%= posts[i].description %></p>
          <p class="card-title">topic: <%= posts[i].topic%></p>
          <p class="card-title">likes: <%= posts[i].likes%></p>
          <p class="card-title">dislikes: <%= posts[i].dislikes%></p>
          <form method="post" action="/like">
            <input type="hidden" name="id" value=<%= posts[i]._id%>>
            <input class="btn btn-primary button-width" type="submit" value="Like">
          </form>

          <form method="post" action="/dislike">
            <input type="hidden" name="id" value=<%= posts[i]._id%>>
            <input class="btn btn-primary button-width" type="submit" value="Dislike">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>

<% } %>

<% } else { %>
No Posts to Display!
<% } %>