<% include ../profile.html%>

<link rel="stylesheet" href="../topics.css">
<section>
  <div class="container py-3">
    <p class="container-text"><%="Hi " %><%=username %><%="! " %></p>
    <p class="container-text"><%="Your email id is: " %><%=email %></p>
  </div>
  <div>
      <% if(finalUserTopics.length == 0) { %>
        <h1>User has no topics.</h1>
        <% } else { %>
      <form>
          <% for(var i=finalUserTopics.length-1; i>=0;i--) { %>
          <div class="checkbx">
            <input type="checkbox" id="huey_<%= i %>"
                   name="action"  />
            <label for="huey_<%= i %>"><%= finalUserTopics[i] %></label>
          </div>   
          <% } %>
        </form>
        <% } %>
  </div>
</section>
<% if(posts.length>0) { %>
<% for(var i=posts.length-1; i>=0;i--) { %>
<% if(posts[i].user === userIDejs) { %>
<section>
  <div class="container py-3">
    <div class="card w-75">
      <div class="card-body mb-2">
        <div class="form-group">
          <h5 class="card-header"><%= posts[i].title %></h5>
          <br>
          <p class="card-text"><%= posts[i].description %></p>
          <p class="card-title">topic: <%= posts[i].topic%></p>
          <a href="#" class="btn btn-primary">Like</a>
          <a href="#" class="btn btn-primary">Dislike</a>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>

<% } %>

<% } else { %>
No Posts to Display!
<% } %>