<% include ../posts.html%>
<% console.log(posts.length) %>
<% if(posts.length>0) { %>
  <% for(var i=posts.length-1; i>=0;i--) { %>
    <section>
      <div class="container py-3">
        <div class="card w-75">
            <% if (posts[i].isHighlighted) {%>
              <div class="card-body mb-2" style="background-color: yellow">
            <%}else {%>
              <div class="card-body mb-2">
            <%}%>
            <div class="form-group">
              <h5 class="card-header"><%= posts[i].post.title %></h5>
              <br>
              <p class="card-text"><%= posts[i].post.description %></p>
              <p class="card-title">topic: <%= posts[i].post.topic%></p>
              <p class="card-title">likes: <%= posts[i].post.likes%></p>
              <p class="card-title">dislikes: <%= posts[i].post.dislikes%></p>
              <p class="card-title">date: <%= posts[i].post.date%></p>
              <p class="card-title">username: <%= posts[i].post.user%></p>
              
              <form method="post" action="/like">
                <input type="hidden" name="id" value=<%= posts[i].post._id%>>
                <input class="btn btn-primary button-width" type="submit" value="Like">
              </form>
              <form method="post" action="/dislike">
                <input type="hidden" name="id" value=<%= posts[i].post._id%>>
                <input class="btn btn-primary button-width" type="submit" value="Dislike">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% } %>
<% } else { %>
  No Posts to Display!
<% } %>
