<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<% include ../posts.html%>
<link rel="stylesheet" type= "text/css" href="../posts.css">
<script>
  var numberID = 0;

  $(document).click(function(event) {

      var text = $(event.target).attr('id');
      console.log("clicked is ", text);
      console.log("value is ", $(event.target).val());

      if(text != undefined && text.includes("quoteButton")){
        var numberID = text.match(/(\d+)/); 
        var classID = '#textInput_' + numberID;
        var buttonID = "#submit_" + numberID
        if($(classID).attr('class') == 'hide'){
               $(classID).attr('class', 'show-box');
               $(buttonID).attr('class', 'show-button');
        } else {
            $(classID).attr('class', 'hide');
            $(buttonID).attr('class', 'hide');
        }
      }
  });

  text = function(){
    console.log("restroom");
  }

</script>
<% if(posts.length>0) { %>
  <% for(var i=posts.length-1; i>=0;i--) { %>
    <section>
      <div class="container py-3">
        <div class="card w-75">
            <% if (posts[i].isHighlighted) {%>
              <div class="card-body mb-2" style="background-color: yellow">
            <%}else {%>
              <div class="card-body mb-2">
            <%}%>
            <div class="form-group">
              <% if(posts[i].post.quote==true) { %>
                <p class="card-text"><%= posts[i].post.user %><%=" quoted " %><%= posts[i].post.originalAuthor %></p>
              <% } %>

              <% if(posts[i].post.isRemoved==false) { %>
              <h5 class="card-header"><%= posts[i].post.title %></h5>
              <br>
              <p class="card-text"><%= posts[i].post.description %></p>
              <p class="card-title">topic: <%= posts[i].post.subtopics%></p>
              <p class="card-title">likes: <%= posts[i].post.likes%></p>
              <p class="card-title">dislikes: <%= posts[i].post.dislikes%></p>
              <p class="card-title">date: <%= posts[i].post.date%></p>
              <p class="card-title">username: <%= posts[i].post.user%></p>
             
              <form method="post" action="/like">
                <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                <input class="btn btn-primary button-width" type="submit" value="Like" style="margin: 5px">
              </form>
              <form method="post" action="/dislike">
                <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                <input class="btn btn-primary button-width" type="submit" value="Dislike" style="margin: 5px">
              </form>


              <form method="post" action="/quote">
                <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                <input class="btn btn-primary button-width" type="submit" value="Quote" style="float: right; margin: 20px">
              </form>

              <form method="post" action="/quote">
                <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                <input class="btn btn-primary button-width" id="quoteButton_<%=i%>"type="button" value="Quote With Comment" style="float: right; margin: 20px">
                    <input class="hide" type="text" id="textInput_<%=i%>" placeholder="Add your comment here!" name="comment"/>
                    <button class="hide" type="submit" id="submit_<%=i%>">Quote!</button>
                </input>
              </form>

              <% } else { %>
  
                <p class="card-title"><%= "Quoted post has been removed." %></p>
                <p class="card-title">topic: <%= posts[i].post.topic%></p>
                
                <form method="post" action="/like">
                  <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                  <input class="btn btn-primary button-width" type="submit" value="Like" style="margin: 5px">
                </form>
                <form method="post" action="/dislike">
                  <input type="hidden" name="id" value=<%= posts[i].post._id %>>
                  <input class="btn btn-primary button-width" type="submit" value="Dislike" style="margin: 5px">
                </form>
                

                <% } %>
            
            
            </div>
          </div>
        </div>
      </div>
    </section>
  <% } %>
<% } else { %>
  <div class="container py-3">No Posts to Display!</div>
<% } %>
