<% include ../profile.html%>

<link rel="stylesheet" href="../topics.css">
<section>
  <div class="container py-3">
    <p class="container-text"><%="Hi " %><%=username %><%="! " %></p>
    <p class="container-text"><%="Your email id is: " %><%=email %></p>
    <p class="container-text"><%="Head to the settings page if you would like to change your username, email or password!"%></p>
  </div>
</section>
<% if(posts.length>0) { %>
<% for(var i=posts.length-1; i>=0;i--) { %>
<% if(posts[i].user === userIDejs) { %>
<section>
  <div class="container py-3">
    <div class="card w-75">
        <form method="post" action="/deletePost">
          <button name ="post_to_delete" value=<%= posts[i]._id %> type="submit" class="close" aria-label="Close" style="position:relative; bottom:30pt; left:290pt; cursor:pointer; display:inline-block">
              <input type="hidden" name="topicCheck" value=<%= posts[i].topic%>>
          <span aria-hidden="true">&times;</span>
          </button>
        </form>
      <div class="card-body mb-2">
        <div class="form-group">
            <% if(posts[i].quote==true) { %>
              <p class="card-text"><%= posts[i].user %><%=" quoted " %><%= posts[i].originalAuthor %></p>
              <p class="card-text"><%= posts[i].comment %></p>
            <% } %>

            <% if(posts[i].isRemoved == false) { %>
          <h5 class="card-header"><%= posts[i].title %></h5>
          <br>
          <p class="card-text"><%= posts[i].description %></p>
          <p class="card-title">topic: <%= posts[i].topic%></p>
          <p class="card-title">likes: <%= posts[i].likes%></p>
          <p class="card-title">dislikes: <%= posts[i].dislikes%></p>
          <% } else { %>
            <p class="card-title"><%= "Quoted post has been removed." %></p>
            <p class="card-title">topic: <%= posts[i].topic%></p>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>

<% } %>

<% } else { %>
No Posts to Display!
<% } %>