<% include ../settings.html%>
<section>
        <div class="container py-3">
          <p class="container-text"><%="Hi " %><%=username %><%="! " %></p>
          <p class="container-text"><%="Your email id is: " %><%=email %></p>
          <p class="container-text"><%="Your password is: " %><%=password %></p>
      </div>
</section>